<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>LITReview</title>
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">LITReview</h5>
      <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="/inscription">inscription</a>
       <a class="p-2 text-dark" href="/loginMe">loginMe</a>
      </nav>
    </div>

<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">LITReview</h1>
          <p class="lead text-muted">LITReview est un produit permettant à une communauté d'utilisateurs de consulter ou de solliciter une critique de livres à la demande.</p>
        </div>
      </section>
</body>
</html>