<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>home</title>
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">LITReview</h5>
      <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="/flux">Flux</a>
          <a class="p-2 text-dark" href="/posts">Posts</a>
          <a class="p-2 text-dark" href="/Abonnements">Abonnements</a>
          <a class="p-2 text-dark" href="/logout_view">Disconnect</a>
      </nav>
    </div>

<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Posts</h1>
        </div>
      </section>

 {% for post in posts %}
    {% if post.headline == None %}
        <hr>
        <div class="container">
            <div class="card">
                <h5 class="card-header">You have created a ticket</h5>
                <div class="card-body">
                    <p class="card-text float-right">{{ post.time_created }}</p>
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.description }}</p>
                    <p class="card-text"><img src="https://images-na.ssl-images-amazon.com/images/I/41o+Dk8N2fS._SX332_BO1,204,203,200_.jpg" style="width:104px;height:142px;"></p>
                   <form class="form-horizontal float-right" action="{% url 'delete_ticket' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ post.id }}">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
                    <form class="form-horizontal float-right" action="{% url 'update_ticket' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ post.id }}">
                        <button type="submit" class="btn btn-primary">Modifier</button>
                </form>
                </div>
            </div>
        </div>
    {% else %}
    <hr>
    <div class="container">
        <div class="card">
            {% if post.user == request.user %}
                <h5 class="card-header">You have created a review</h5>
            {% else %}
                <h5 class="card-header">{{ post.user }} have created a review</h5>
            {% endif %}
            <div class="card-body">
                <p class="card-text float-right">{{ post.time_created }}</p>
                <h5 class="card-title">{{ post.headline }} - {{ post.rating }}/5</h5>
                <p class="card-text">{{ post.body }}</p>
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text float-right">{{ post.ticket.time_created }}</p>
                            {% if post.ticket.user == request.user %}
                                <h5 class="card-title">Ticket - You</h5>
                            {% else %}
                                <h5 class="card-title">Ticket - {{ post.ticket.user }}</h5>
                            {% endif %}
                            <p class="card-text">{{ post.ticket.title }}</p>
                            <p class="card-text">{{ post.ticket.description }}</p>
                            <p class="card-text"><img src="https://images-na.ssl-images-amazon.com/images/I/41o+Dk8N2fS._SX332_BO1,204,203,200_.jpg" style="width:104px;height:142px;"></p>
                        </div>
                    </div>
                </div>

            <form class="form-horizontal float-right" action="{% url 'delete_review' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="ticket_id" value="{{ post.ticket.id }}">
                <input type="hidden" name="review_id" value="{{ post.id }}">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>

                 <form class="form-horizontal float-right" action="{% url 'update_review' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="ticket_id" value="{{ post.ticket.id }}">
                <input type="hidden" name="review_id" value="{{ post.id }}">
                    <button type="submit" class="btn btn-primary">Modifier</button>
            </form>

        </div>
    </div>
    </div>
    {% endif %}
    {% empty %}
        <h1>No tickets or reviews are made by you or the persons that you follow</h1>
{% endfor %}
</body>
</html>